:root {
    --background-color: #C4C4C4;
    --primary-color: #123956;
    --shadow-color: #000;
    --light-accent: #fff;
    --dark-accent: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.shadow {
    text-shadow: 0 4px 4px var(--shadow-color);
}
/* Navigation Style Start */
.navigation {
    background-color: var(--primary-color);
    color: var(--light-accent);
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
}

.navigation ul li {
    list-style: none;
    flex: 0 0 40%;
}

.navigation ul li a {
    text-decoration: none;
    color: var(--light-accent);
}
/* Navigation Styles End*/

/* Section Styling Start */
section {
    border: 1px var(--light-accent) solid;
    box-shadow: var(--shadow-color) 0 4px 4px;
    margin-bottom: 10px;
    display: flex;
}

.left-accent {
    border-left: var(--primary-color) 5px solid;
    margin-left: 10px;
}

.right-accent {
    border-right: var(--primary-color) 5px solid;
    margin-right: 10px;
}

/* Section Styling Start */

/* About Me Start */
.about-me {
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Projects Start */
.projects {
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.project-display {
    display: flex;
}
.sample {
    flex: 1 0 30%;
    text-align: center;
    margin: 10px;
    border: var(--light-accent) 1px solid;
    width: 30%;
    min-width: 400px;
}

.sample:hover {
    border-bottom: var(--primary-color) 5px solid;
    box-shadow: var(--shadow-color) 0 4px 4px;
}

.sample img {
    width: 100%;
    
}