:root {
    --background-color: rgb(196, 196, 196);
    --primary-color: rgb(18, 57, 86);
    --primary-color-translucent: rgba(18, 56, 86, 0.555);
    --shadow-color: rgb(0, 0, 0);
    --light-accent: rgb(255, 255, 255);
    --dark-accent: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

.shadow {
    text-shadow: 4px 4px 4px var(--shadow-color);
}

.headings {
    font-size: 40px;
    font-family: 'Sarpanch', sans-serif;
}
/* Navigation Style Start */
.navigation {
    background-color: var(--primary-color);
    color: var(--light-accent);
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navigation h1 {
    font-size: 50px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation ul li {
    list-style: none;
    justify-content: center;
    margin: 7px;
    font-size: 21px;
}

.navigation ul li a {
    text-decoration: none;
    color: var(--light-accent);
}
/* Navigation Styles End*/

/* Section Styling Start */
section {
    margin-bottom: 10px;
    display: flex;
}

.left-accent {
    border-left: var(--primary-color) 5px solid;
    margin-left: 10px;
}

.right-accent {
    border-right: var(--primary-color) 5px solid;
    margin-right: 10px;
}

/* Section Styling Start */

/* About Me Start */
.about-me {
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Projects Start */
.projects {
    font-family: 'Sarpanch', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.project-display {
    display: flex;
}
.sample {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.sample a {
    text-decoration: none;
}

.sample:hover {
    background-color: var(--primary-color-translucent);
}

.sample img {
    width: 1000px;
    height: 500px;
}
/* Projects End */

/* Contact Start */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact ul li {
    list-style: none;
}
/* Contact End */

/* Footer Start */
footer {
    background-color: var(--primary-color);
    color: var(--light-accent);
    padding: 5px;
    font-family: 'Sarpanch', sans-serif;
}

footer h3 {
    width: 50;
    padding: 0 auto;
}